// variables
$falbum: 18px Helvetica;
$li-height: 40px;

.album-container {
  font: 20px $f-main;
}

.ul_album-results-wrap {
  @include flexbox;
  flex-direction: column;
  font: 20px $f-main;
}

.li_album-result {
  @include flexbox;
  padding: $spacing;
  background-color: $colour1;

  &:not(:last-child) {
    margin-bottom: $spacing;
  }
}

.album-form {
  @include flexbox;
}

.form-row {
  @include flexbox;
  justify-content: flex-start;

  &:not(:last-child) {
    margin-bottom: $spacing;
  }
}

.album {
  height: $li-height;
  margin-right: $spacing;
  padding: $spacing;
}


.i_album-year, .i_type {
  width: 80px;
  border: 1px solid $colour3;
  font: $falbum;
  text-align: center;
}

.i_album-name, .i_spotify-img-url {
  width: 350px;
  border: 1px solid $colour3;
  font: $falbum;
}

.i_album-id, .i_spotify-id {
  width: 200px;
  border: 1px solid $colour3;
  font: $falbum;
  text-align: center;
}

.a_site-link {
  @include flexbox;
  width: 40px;
  background-color: $colour2;
  font: $falbum;

  &:hover {
    color: $hcolour;
  }
}

.button-wrap {

}

.button {
  @include flexbox;
  height: $li-height;
  width: 90px;
  margin: 0;
  padding: 0;
  background-color: $colour2;

  &.add {
    margin: 0 0 $spacing 0;
    font: bold $falbum;
  }

  &.spotify {
    margin: 0;
    font-size: 30px;
  }

  &:hover {
    color: $hcolour;
  }
}

.success {
  color: $gcolour;
}

.fail {
  color: $rcolour;
}

.albumAdded {
  background-color: $gcolour;
}
