// variables
$falbum: 18px Helvetica;
$li-height: 40px;

.album-container {
  font: 20px $f-main;
}

.ul_album-results-wrap {
  @include flexbox;
  flex-direction: column;
  font: 20px $f-main;
}

.li_album-result {
  @include flexbox;
  padding: $spacing;
  background-color: $colour1;

  &:not(:last-child) {
    margin-bottom: $spacing;
  }
}

.album-form {
  @include flexbox;
}

.form-row {
  @include flexbox;
  justify-content: flex-start;

  &:not(:last-child) {
    margin-bottom: $spacing;
  }
}

.album {
  height: $li-height;
  margin-right: $spacing;
  padding: $spacing;
}

.i_album-name {
  width: 350px;
  border: 1px solid $colour3;
  font: $falbum;
}

.i_album-year {
  width: 65px;
  border: 1px solid $colour3;
  font: $falbum;
  text-align: center;
}

.i_album-id {
  width: 200px;
  margin: 0;
  border: 1px solid $colour3;
  font: $falbum;
  text-align: center;
}

.a_album-link {
  @include flexbox;
  width: 40px;
  background-color: $colour2;
  font: $falbum;

  &:hover {
    color: $hcolour;
  }
}

.b_spotify {
  @include flexbox;
  width: 65px;
  padding: 0 $spacing;
  font-size: 30px;

  &:hover {
    color: white;
  }
}

.i_spotify-url {
  width: 350px;
  border: 1px solid $colour3;
  font: $falbum;
}

.i_spotify-id {
  width: 200px;
  font: $falbum;
  border: 1px solid $colour3;
  text-align: center;
}

.b_add {
  @include flexbox;
  height: 90px;
  width: 90px;
  border: 5px solid $colour3;
  margin: 0;
  background-color: $colour2;
  font: bold $falbum;

  &:hover {
    border-color: $hcolour;
  }
}

.neutral {
  color: $hcolour;
}

.true {
  color: $gcolour;
}

.false {
  color: $rcolour;
}
