/* COLORS */

$colour0: #eee;
$colour1: #ddd;
$colour2: #ccc;
$colour3: #bbb;
$hcolour: #034f84;
$bcolour: #bbb;
$gcolour: #588c7e;
$rcolour: #d96459;

/* SIZING */

$spacing: 10px;
$artist: 150px;

/* FONTS */

$f-main: Helvetica;
$fs-album: 17px;
