<!-- artist search -->
<section class="page-section artists">
  <input
    class="artist-search-input"
    id="artist-search"
    placeholder="Artist"
    autocomplete="off"
  />
  <div id="artist-results-container" class="artist-container">
    <!-- <ul class="artist-results-wrap">
        <li class="artist-result">
          <button
            class="artist-pic"
            style="background-image:url('https://api-img.discogs.com/bt9e08NHk-4dWa51jv_tjOrhiVc=/150x150/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-59656-1446589358-8836.jpeg.jpg')"
          >
          </button>
          <a class="artist-details" target="_blank" href="https://www.discogs.com{{uri}}">Hans Zimmer</a>
        </li>
    </ul> -->
  </div>
</section>

<!-- album search -->
<section class="page-section">
  <div id="album-results-container" class="album-container">
    <!-- <ul class="ul_album-results-wrap" id="album-results-wrap" data-artist="Hans Zimmer">
      <li class="li_album-result">
        <form action="/" class="album-form" action="POST">
          <div class="input-fields">
            <div class="form-row">
              <a class="album a_site-link" href="https://www.discogs.com/release/1211512" target="_blank">D</a>
              <input class="album i_album-year" value="1994"/>
              <input class="album i_album-name" id="album-name-0" value="Inception" />
              <input class="album i_album-id" value="1211512" />
            </div>
            <div class="form-row">
              <a class="album a_site-link" href="https://open.spotify.com/album/6V642KcHwzOSyYGwH58kgO" target="_blank">S</a>
              <select class="album i_type">
                <option value="Film">Film</option>
                <option value="Film">Game</option>
                <option value="Film">TV</option>
                <option value="Film">Trailer</option>
              </select>
              <input class="album i_spotify-img-url" id="spotify-img-url-0" value="https://i.scdn.co/image/ac6cb7cc9b6d9b373f161990debdbe0f5f82532a" />
              <input class="album i_spotify-id" id="spotify-id-0" value="6V642KcHwzOSyYGwH58kgO" />
            </div>
          </div>
          <div class="button-wrap">
            <button class="album button add" type="submit">ADD</button>
            <button class="album button spotify fa fa-spotify" data-index="0"></button>
          </div>
        </form>
      </li>
      <li class="li_album-result">
        <form action="/" class="album-form" action="POST">
          <div class="input-fields">
            <div class="form-row">
              <a class="album a_album-link" href="https://www.discogs.com/release/1211512" target="_blank">D</a>
              <input class="album i_album-year" value="1994"/>
              <input class="album i_album-name" id="album-name-1" value="Gladiator" />
              <input class="album i_album-id" value="1211512" />
            </div>
            <div class="form-row">
              <a class="album a_album-link" href="https://open.spotify.com/album/6V642KcHwzOSyYGwH58kgO" target="_blank">S</a>
              <button class="album b_spotify fa fa-spotify" data-index="1"></button>
              <input class="album i_spotify-url" id="spotify-url-1" value="https://i.scdn.co/image/ac6cb7cc9b6d9b373f161990debdbe0f5f82532a" />
              <input class="album i_spotify-id" id="spotify-id-1" value="6V642KcHwzOSyYGwH58kgO" />
            </div>
          </div>
          <button class="album b_add" type="submit">ADD</button>
        </form>
      </li>
    </ul> -->
  </div>
</section>
