<!-- artist search -->
<section class="page-section artists">
  <input
    class="artist-search-input"
    id="artist-search"
    placeholder="Artist"
    autocomplete="off"
  />
  <div id="artist-results-container" class="artist-container"></div>
</section>

<!-- album search -->
<section class="page-section">
  <div id="album-results-container" class="album-container">
    <ul class="ul_album-results-wrap">
      <li class="li_album-result">
        <input class="album i_album-year" value="1988"/>
        <input class="album i_album-name" value="The Lion King" />
        <input class="album i_album-id" value="123456789" />
        <a class="album a_album-link">LINK</a>
        <button class="album b_album-check tick fa fa-check"></button>
      </li>
    </ul>
  </div>
</section>
