<!-- artist search -->
<section class="page-section artists">
  <input
    class="artist-search"
    id="artist-search"
    placeholder="Artist"
    autocomplete="off"
  />
  <div class="artist-results-wrap" id="artist-wrap">
    <div class="artist-result">
      <button class="artist-pic"></button>
      <a class="artist-details">Name</a>
    </div>
    <div class="artist-result">
      <button class="artist-pic"></button>
      <a class="artist-details">Name</a>
    </div>
    <div class="artist-result">
      <button class="artist-pic"></button>
      <a class="artist-details">Name</a>
    </div>
  </div>
</section>
