<!-- artist search -->
<section class="page-section artists">
  <input
    class="artist-search"
    id="artist-search"
    placeholder="Artist"
    autocomplete="off"
  />
  <div class="artist-results-wrap">
    <div class="artist-result"></div>
    <div class="artist-result"></div>
    <div class="artist-result"></div>
  </div>
</section>
