<!-- artist search -->
<section class="page-section artists">
  <input class="artist-search" placeholder="Artist" />
  <div class="artist-results-wrap">
    <div class="artist-result"></div>
    <div class="artist-result"></div>
    <div class="artist-result"></div>
  </div>
  </div>
</section>
