{{#each data}}
  <div class="artist-result">
    <button class="artist-pic" style="background-image:url('{{thumb}}')"></button>
    <a class="artist-details" target="_blank" href="https://www.discogs.com{{uri}}">{{title}}</a>
  </div>
{{/each}}
